.card-header {
    color: pink;
    font-style: italic;
    fieldset {
        border: 1px solid blueviolet;
        margin: 5px;
        padding: 12px;
        display: flex;
        .block {
            margin: 7px 17px;
        }
        legend {
            all: unset;
            color: blueviolet;
            font-size: 12px;
            padding: 6px;
            text-align: center;
        }
    }
}
.card-body button {
    margin-top: 5px;
    float: right;
}
.list-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__content {
        display: flex;
        flex-direction: column;
        small {
            color: gray;
            font-style: italic;
            font-size: 70%;
        }
    }
    &__buttons {
        display: flex;
    }
    .btn {
        margin: 3px;
        &.btn-info {
            transform: rotate(2deg);
        }
        &.btn-danger {
            transform: rotate(-1deg);
        }
    }
}
